#bodyContent
  ul, ol, dl, p !important
    max-width 720px
    line-height 1.7em
    font-family Georgia
    font-size 18px

#mw-head
  background white

#content.mw-body
  border none

@media screen
  body
    background white !important

#better-wikipedia-instant
  #better-wikipedia-instant-content
    background white
    box-shadow 0 0 15px 0 #222
  position absolute
  margin-top 18px
  padding-top 8px
  padding-bottom 10px
  overflow-x hidden